.filmHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}
.movieOverview {
  font-size: 18px;
  text-align: justify;
  min-width: 320px;
  max-width: 450px;
}
.movieTitle {
  font-size: 28px;
  font-weight: bold;
  margin: 10px 10px;
  text-align: center;
}
.genresList {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
  font-size: 18px;
}

.genresListElem {
  list-style: none;
}
.linkHolder a {
  text-decoration: none;
  color: #4f5d2f;
  font-size: 22px;
  margin-right: 10px;
}
.filmDetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.poster {
  margin-right: 20px;
}
.errorPoster {
  width: 185px;
  background-color: gray;
  color: white;
  text-align: center;
  margin-right: 20px;
  border-radius: 8px;
}
